body {
    background-color: rgb(185, 230, 245);
    font-family: 'Mulish', sans-serif;
}
h1 {
    color: crimson;
}
h2 {
    color: rgb(51, 82, 177);
}
a:hover {
    color: gold;
}
img {
    width: 40vh;
}
ul {
    list-style-type: square;
}
